&:lang(ru) {
  & .switcher {
    animation: switcher_position_change_en_to_ru 0.7s ease-out both;
  }

  & .enLocale {
    animation: switcher_locale_color_change_ru_to_en 0.4s linear 0.2s both;
  }

  & .ruLocale {
    animation: switcher_locale_color_change_en_to_ru 0.4s linear 0.2s both;
  }
}

&:lang(en) {
  & .switcher {
    animation: switcher_position_change_ru_to_en 0.7s ease-out both;
  }

  & .enLocale {
    animation: switcher_locale_color_change_en_to_ru 0.4s linear 0.2s both;
  }

  & .ruLocale {
    animation: switcher_locale_color_change_ru_to_en 0.4s linear 0.2s both;
  }
}

@keyframes switcher_position_change_en_to_ru {
  0% {
    transform-origin: left center;
    transform: translateX(0) scaleX(1);
  }

  50% {
    transform-origin: left center;
    transform: translateX(30%) scaleX(1.5);
  }

  100% {
    transform-origin: left center;
    transform: translateX(100%) scaleX(1);
  }
}

@keyframes switcher_position_change_ru_to_en {
  0% {
    transform-origin: right center;
    transform: translateX(100%) scaleX(1);
  }

  50% {
    transform-origin: right center;
    transform: translateX(70%) scaleX(1.5);
  }

  100% {
    transform-origin: right center;
    transform: translateX(0) scaleX(1);
  }
}

@keyframes switcher_locale_color_change_ru_to_en {
  0% {
    color: var(--background);
  }

  100% {
    color: var(--foreground);
  }
}

@keyframes switcher_locale_color_change_en_to_ru {
  0% {
    color: var(--foreground);
  }

  100% {
    color: var(--background);
  }
}