.root {
  &[data-state="checked"] {
    & .switcher {
      animation: lng_switcher_right 0.7s ease-out both;
    }

    .en {
      color: var(--foreground);
    }

    .ru {
      color: var(--background);
    }
  }

  &[data-state="unchecked"] {
    & .switcher {
      animation: lng_switcher_left 0.7s ease-out both;
    }

    .en {
      color: var(--background);
    }

    .ru {
      color: var(--foreground);
    }
  }
}

.en,
.ru {
  transition: color 0.4s linear 0.2s;
}

@keyframes lng_switcher_right {
  0% {
    transform-origin: left center;
    transform: translateX(0) scaleX(1);
  }

  50% {
    transform-origin: left center;
    transform: translateX(30%) scaleX(1.5);
  }

  100% {
    transform-origin: left center;
    transform: translateX(100%) scaleX(1);
  }
}

@keyframes lng_switcher_left {
  0% {
    transform-origin: right center;
    transform: translateX(100%) scaleX(1);
  }

  50% {
    transform-origin: right center;
    transform: translateX(70%) scaleX(1.5);
  }

  100% {
    transform-origin: right center;
    transform: translateX(0) scaleX(1);
  }
}